<footer>
    <div><small>with</small> ❤️ <small>@lexpaper</small></div>
</footer>



<!-- PASS DATA TO MAIN.JS -->
<% if (data) { %> <script>
    let data = `<%- JSON.stringify(data) %>`;
</script>

<% } %>

<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
<script src="/js/d3.js"></script>
<script src="/js/chartRegion.js"></script>
</body>

</html>