<footer>
    <div><small>with</small> ❤️ <small>@lexpaper</small></div>
</footer>

<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
<script src="/js/d3.js"></script>
<script src="/js/chart.js"></script>
</body>

</html>