<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trends</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/trend.png">
</head>

<body>
    <nav>
        <div class="plus">
            <ul>
                <li> <a href="/trends/overtime">OverTime</a></li>
                <li> <a href="/trends/relatedqueries">Queries</a></li>
                <li> <a href="/trends/daily">Daily</a> </li>
                <li> <a href="/trends/realtime">Real</a> </li>
                <li> <a href="/trends/autocomplete">Auto</a> </li>
                <li> <a href="/trends/byregion">byRegion</a> </li>
                <li> <a href="/trends/relatedtopics">Topics</a> </li>
                <li> <a href="https://www.npmjs.com/package/google-trends-api" target="BLANK">NPM</a></li>
            </ul>
        </div>
    </nav>